* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color:#212121; 
    --secondary-color:#edf2fc; 
}

.special{
    color: orangered;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: var(--primary-color);
}

.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
}

.grid--1x3 {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.btn {
    display: inline-block;
    border: 0;
    background: 0;
    padding: 1em 1.5em;
    font-weight: 700;
    transition: 250ms;
    background: var(--secondary-color);
    color: var(--primary-color);

    &:hover {
        background-color: orangered;
        cursor: pointer;
        color: #fff;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.flow-content--s>*+* {
    margin-top: .5rem !important;
}

.flow-content--m>*+* {
    margin-top: 1rem !important;
}

.flow-content--xm>*+* {
    margin-top: 1.5rem !important;
}

.flow-content--l>*+* {
    margin-top: 3rem !important;
}

.flow-content--xl>*+* {
    margin-top: 3.5rem !important;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;

    i {
        font-size: 1.5rem;
        color: var(--secondary-color);
    }

    i:hover {
        cursor: pointer;
        ;
    }

    .logo {
        font-size: 1.5rem;
        color: orangered;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1rem;


        .link {
            text-transform: uppercase;
            color: var(--secondary-color);
            transition: 250ms color;
            font-size: 1.125rem;

            &:hover {
                color: orangered;
            }
        }

        .fa-moon {
            color: rgb(63, 54, 54);
        }
    }
}

.showcase {
    display: grid;
    justify-content: center;
    padding: 1.5rem 3.5rem;
    align-items: center;
    gap: 2.5rem;
    min-height: calc(100vh - 81.3px);


    .title {
        font-size: 3rem;
        color : var(--secondary-color);
    }

    p {
        color: var(--secondary-color);
        max-width: 450px;
    }

    img {
        width: 100%;
    }
}


@media screen and (width <= 50em) {
    html{
        font-size: .8rem;
    }

    .grid--1x2{
        grid-template-columns: 1fr;
    }

    .showcase{
        .showcase-img{
            order: -1;
        }

        min-height: unset;

        .showcase-contents{
            text-align: center;
            p{
            margin: 0 auto;
            }
        }
    }

    .nav{
        flex-direction: column;
    } 
    
}

@media screen and (width <= 34.375em) {
    html{
        font-size: .6rem;
    }
}